## Importing Libs &Reading CSV Cleaned File

In [161]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

import matplotlib.pyplot as plt
import seaborn as sns

# to remove unnecessary warnings
import warnings

warnings.filterwarnings('ignore')

# to generate clear images
sns.set_context('talk')

import pandas as pd

df = pd.read_csv("e - Sheet1.csv", encoding='latin1')
display(df.head())
print(df.shape)

,Platform Name,Courses with highest price(in tk),Courses with lowest price(in tk),Facebook,You Tube,Number of employees,Financier
0,Robi 10 minutes school,3000,450,1800000,1850000.0,51-200,Local market finance
1,Bright Skills,5000,750,5000,2000.0,20-50,NaN
2,Amar iSchool - à¦à¦®à¦¾à¦° à¦-à¦¸à§à¦à§à¦²,15000,500,32000,1690.0,51-200,Own finance
3,Amar Pathshala,5000,500,34,44600.0,Nov-50,Own finance
4,BacBon School,5000,500,15000,33.0,50,Own finance

(54, 7)

## Column Name array

In [162]:
df.columns

Index(['Platform Name', 'Courses with highest price(in tk)',
       'Courses with lowest price(in tk)', 'Facebook', 'You Tube',
       'Number of employees', 'Financier'],
      dtype='object')

In [163]:
df.columns

Index(['Platform Name', 'Courses with highest price(in tk)',
       'Courses with lowest price(in tk)', 'Facebook', 'You Tube',
       'Number of employees', 'Financier'],
      dtype='object')

## Statistical Data and Data Typr

In [164]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 7 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Platform Name                      54 non-null     object
 1   Courses with highest price(in tk)  54 non-null     int64
 2   Courses with lowest price(in tk)   54 non-null     int64
 3   Facebook                           54 non-null     int64
 4   You Tube                           49 non-null     float64
 5   Number of employees                35 non-null     object
 6   Financier                          52 non-null     object
dtypes: float64(1), int64(3), object(3)
memory usage: 3.1+ KB
None

## One Hot Encoding

In [165]:
df = pd.get_dummies(df, drop_first=True)

## Create Train and Test Set

In [ ]:
features = ['Platform Name']
target = [ 'Courses with highest price(in tk)']
X = df[features]
y = df[target]

print(X.shape, y.shape)

In [127]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(40, 1) (11, 1) (40, 1) (11, 1)

## Linear Regression

In [ ]:
model = LinearRegression()
model = model.fit(X_train, y_train